body {
    font-family: monospace;
    font-size: 18px;
    letter-spacing: -1.4px;
}
a {
    color: crimson;
    text-decoration: none;
}

table {
    margin-top: 16px;
    border-collapse: collapse;
}

table tr {
    margin: 8px;
}

table td, table th {
    padding: 2px 12px;
    border: 1px solid;
    text-align: left;
}